<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/UserRec</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        
        <property name="hibernate.c3p0.max_size">30</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.max_statements">3000</property>
        <property name="hibernate.c3p0.timeout">1800</property>
        <property name="hibernate.c3p0.idle_test_period">1000</property>
        <property name="hibernate.c3p0.acquire_increment">5</property>
        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        
        <!-- <property name="hibernate.show_sql">true</property> -->
        <property name="hibernate.format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        
        <property name="current_session_context_class">thread</property>
        
        <!-- 数据库映射 -->
        <mapping class="com.whu.Beans.Users"/>
        <mapping class="com.whu.Beans.UsersSubscrib"/>
        <mapping class="com.whu.Beans.Tags"/>
        <mapping class="com.whu.Beans.Bookmarks"/>
        <mapping class="com.whu.Beans.Bookmark_Tags"/>
        <mapping class="com.whu.Beans.User_TaggedBookmarks"/>
        <mapping class="com.whu.Beans.WordsTopics"/>
        <mapping class="com.whu.Beans.UsersTopics"/>
        <mapping class="com.whu.Beans.UsersSimilarityTopics"/>
        <mapping class="com.whu.Beans.UsersSimilarityFriends"/>
        
    </session-factory>
</hibernate-configuration>
